{% extends 'App/base.html'%}
{% load static%}

{% block nav_style %}
background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
{% endblock %}

{% block nav_head %}
font-size:5vh;
                    background:linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

{% endblock %}
{% block js %}
 <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>

{% endblock %}

{% block body%}



<div class="uk-container">
    <h1 style="text-align:center;margin-top:5vh">LinkCode Discussion Room</h1>

    <form method="post">
        <input type="hidden" name="user_name">
      <textarea id="mytextarea" name="doubt" >Hello, World!</textarea>
        <button class="uk-button uk-button-primary" type="submit">Primary</button>
    </form>

</div>





{% endblock %}