{% extends 'App/base.html'%}
{% block body %}
<div class="uk-container">
<h1 style="margin-top:30px">LinkCode <b>Explore</b></h1>
<hr>


    <dl class="uk-description-list uk-description-list-divider">
        <dt><b><a href="\" style="color:#000">Home</a></b></dt>
        <dd><a href="/ContactUs">Contact Us</a></dd>
        <dd><a href="/Blog">Blog</a></dd>
        <dd><a href="/registration">SignUp</a></dd>
        <dd><a href="/login">Login</a></dd>
        <dt><b>Course</b></dt>
        <dd>/ <a href="/Course/Web-Development">Web Development</a> / <a href="/Course/Python">Python</a> / <a href="/Course/C_C++_Data-Structures">C++,C,DataStructures</a> / <a href="/Course/Java">Java</a> / <a href="/Course/Machine-Learning">Machine-Learning</a> / <a href="/Course/Data_Science">Data-Science</a> / <a href="/AppDev">Application Development</a> / <a href="/Automation">Automations</a> / <a href="/AI">Artificial Intelligence</a> </dd>
    </dl>
    <hr>







</div>







{% endblock %}