{% extends 'App/base.html'%}
{% load static %}
{% block title %}Notifications You Posted | LinkCode Technologies Pune | JM Road{% endblock %}

{% block body%}
<div class="uk-container">


    {% if messages %}
{% for x in messages %}
<div class="uk-container">
    <div class="uk-alert-{{x.tags}}" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p style="text-align:center">{{x}}</p>
</div>
</div>
{% endfor %}

{% endif %}

    <h2 style="margin-top:30px">LinkCode <b>Admin Side Notification Control Panel</b></h2>
    <hr>
<div class="uk-grid-match uk-child-width-1-3@s uk-text-center" style="margin-top:10vh" uk-grid>
    {% for x in notifications%}
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3>{{x.to_dict.title|truncatewords:4}}</h3>
            <h5>{{x.to_dict.posted_on}}</h5>
                <p uk-margin>
                    <a href="/UpdateNotificationDetails/{{x.to_dict.posted_on}}" class="uk-button uk-button-primary">Update</a>
                    <form method="post">{% csrf_token %}
                        <input type="text" value="{{x.to_dict.posted_on}}" name="deletion" hidden>
                        <button class="uk-button uk-button-danger" type="submit">Delete</button>
                    </form>
                </p>
        </div>
     </div>
    {% endfor %}
</div>
</div>
{% endblock %}
